html {
  font-family: sans-serif;
  font-size: 3rem;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz-area:has(.winner-container) {
background-color: #269f37;
}

.winner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.winner-message {
  display: block;
  color: #ffe33f;
  font-size: 8vw;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 black,
  1px  1px 0 black,
  -1px  1px 0 black,
  1px -1px 0 black;
  animation: wiggle 1s infinite;
  transform-origin: 50% 50%;
  white-space: nowrap;
}

@keyframes wiggle {
  0%,40%,100% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
}


#client-area {
width: 100%;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
}

#quiz-area {
width: 100%;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
margin-bottom: 1rem;
}
